




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container{
    background-color: #F8FAFC;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form{
    width: 380px;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px  10px rgb(171, 171, 171);
}
#signup-form h1{
    font-size: 25px;
    font-weight: 500;
}
#signup{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   
}
#signup input{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    
    border: 1px solid rgb(225, 225, 225);
}

#signup button{
    margin-top: 10px;
    padding: 14px;
    background-image: linear-gradient(#625BF7, #463EEA);
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}
#error-message{
    text-align: center;
}

/* DashBoard */

#dashboard h2{
    text-align: center;
    color: #463EEA;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
#profile {
    background-color: white;
    box-shadow: 1px 1px  10px rgb(171, 171, 171);
    border-radius: 5px;
    width: 380px;
    padding: 20px;
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile h3{
    font-weight: 550;
    margin-bottom: 10px;
}
#profile .fa-user{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: lighter;
    color: #463EEA;
}
#profile p strong{
    font-weight: 500;
}

#profile button{
    width: 100%;
    margin-top: 40px;
    padding: 14px;
    background-image: linear-gradient(#625BF7, #463EEA);
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
}



/* @media screen and (max-width: 360px) and (min-width: 260px)  {
    
} */
 @media screen and (min-width: 260px) and (max-width: 360px)  {
    #profile {
        width: 300px;
        padding: 15px;
        
    }
    #signup-form{
        width: 300px;
        padding: 15px;
    }
}